@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
background: #f2f2f2;
color: #333;
font-family: "Nunito";
}
a {
color: #333;
text-decoration: none;
}
div.relative {
  position: relative;
  left: 30px;
  align-items: flex-end;
  
}
.flex-container {
  display: flex;
  background-color: #f1f1f1;
}

.content {
max-width: 960px;
margin: 0 auto;
text-align: center;
}
nav {
margin: 10px auto 80px;
padding: 10px 0;
display: flex;
justify-content: flex-end;
align-items: flex-end;
border-bottom: 1px solid #ddd;
}
nav a {
margin-left: 12px;
}
nav .logo {
margin-right: auto;
}
footer {
display: block;
text-align: center;
padding: 30px 0;
margin-top: 60px;
color: #777;
border-top: 1px solid #eaeaea;
}
.button {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
  cursor: pointer;
  }
  .not-found {
    text-align: left;
    }
    .not-found a{
    color: #4979ff;
    text-decoration: underline;
    }
    div.relative {
      position: relative;
      left: 10px;
      border: 1px solid #73AD21;
    }
ul{ align-items: flex-end;
  margin-left: 70px;
  background: #ecf3f1;
    list-style-position: inside;
    list-style-type: none;
  margin: 10;
  padding: 10;
  text-align: left;
    }
  