.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
  }
  .text {
  color: #777;
  }
  .button1 {
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;} /* Green */

    .button1 {
      background-color: white;
      color: black;
      border: 2px solid #4CAF50;
    }
    
    .button1:hover {
      background-color: #4CAF50;
      color: white;
    }
    
    .button2 {
      border-radius: 4px;
      border: none;
      color: white;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;background-color: white;
      color: black;
      border: 2px solid #008CBA;
    }
    
    .button2:hover {
      background-color: #008CBA;
      color: white;
    }
    .dugmici{
      border: none;
      color: rgb(66, 46, 46);
      padding: 10px 10px;
      text-align: left;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      display: block;
      
    }
    .button {
      border: none;
      color: white;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .btn {
      display: block;
      width: 150px;
      padding: 8px 0;
      margin: 20px auto;
      background: #285f48;
      border-radius: 4px;
      color: white;
      text-align: center;
      cursor: pointer;
      } 
    